@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600;700;800&family=Noto+Sans:wght@100;200;300;400;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

/* Nav bar Styling */

.menu{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    padding: 35px 15px 30px 15px;
    color: black;
    background-color: white;
}


.menu-container{
    width: 50%;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 15px 0 15px;
}

.menu-list{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.menu-list li{
    list-style: none;
}

.menu-list li a{
    text-decoration: none;
    display: block;
    /* padding-bottom: 8px; */
    color: black;
}

.menu-list li a:hover{
    color: #207388;
}

/* Style the nav sub-menus */
.sub-menu{
    display: none;
    position: relative;
    font-size: 12px;
    line-height: 23px;
    max-height: 10px;
    /* padding: 0 px 0 5px; */
    border-bottom-left-radius: 10px;
    transition: all 0.3s ease, all 0.3s ease;
}

.submenu > a > i {
    position: absolute;
    margin-left: 2px;
    color: #011d24;
}


.submenu:hover .sub-menu{
    display: block;
}

.sub-menu li{
    display: block;
}

.sub-menu li a{
    color: #207388;
}

.sub-menu li:hover{
    /* background-color: black; */
    padding: 2px 2px 0 2px;
    /* border-bottom-right-radius: 10px; */
    font-size: 12px;
    border: 1px solid #207388;
}

.sub-menu li:hover a:hover{
    color: #207388;
}

.social-media {
    width: 30%;
    padding: 0 10px 0 70px;
    color: #207388;
}

.fa-brands {
    padding: 0 10px;
}

.fa-brands:hover{
    color: rgb(209, 192, 36);
}



/* Style the logo */
.logo{
    width: 20%;
    font-size: 30px;
    font-weight: 800;
    padding-right: 25px;
    font-family: sans-serif;
    color: #011d24;
    text-transform: uppercase;
}

/* Style background Image */

.wall-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 25px;
}

.wallpaper-side{
    width: 40%;
    height: 100vh;
    background-color: #011d24;
}

.overlay{
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    /* font-size: 45px; */
    padding: 160px 90px 0px 160px;
}

.wall-text{
    position: relative;
    padding: 1px 0px 0px px;
    font-size: 45px;
}

#last-words{
    position: relative;
    bottom: 0;
    color: white;
    padding: 550px 90px 0 135px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}

.Westeros-logo{
    position: relative;
    color: white;
    font-size: 10px;
    padding: 1px 70px 90px 65px;
}

.wallpaper-image{
    width: 60%;
    height: 100vh;
    background-image: url(./images/person-using-smartphone-his-automated-home.jpg);
    background-size: cover;
    background-position: center;
}



/* .wallpaper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/room-4323127_1920.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
} */



/* .wallpaper::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
} */

/* text overlay style */
/* .text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
} */

/* .text-overlay p{
    font-size: 36px;
    margin-bottom: 10px;
} */

/* STYLING HOME CONTENTS: BLOG SNIPPETS AND IMAGES (HTML)*/
h3{
    color: #011d24;
}

#blog-heading{
    color: #011d24;
}

.blog-rule-line{
    margin-top: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #207388;
}

.blog-container {
    align-items: center;
    justify-content: center;
    padding: 70px 0px 30px 160px ;
}


.blogit {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    position: relative;
}

.blogit-b {
    column-gap: 50px;
}

.blog-write-up {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(201, 198, 198); */
    margin-bottom: 20px;
    padding: 50px 7px;
    border-radius: 15px;
}

.blog-image {
    width: 35%;
    /* background-color: rgb(201, 198, 198); */
    margin-bottom: 20px;
    border-radius: 6px;
}

.blog-text {
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.blog-image {
    /* padding-right: 30px; */
    background-position: center;
    background-size: cover;
}

.anchor-read {
    text-decoration: none;
    color: rgb(9, 98, 133);
    font-size: 11px;
}

.anchor-read:hover {
    color: rgb(146, 84, 14);
}

/* ===========FOOTER STYLING=========== */

.footer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/cartography-3244166_1280.png');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 70vh;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}

.footer-container::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: rgb(7, 5, 22);
    opacity: 0.6;
    z-index: -1;
}

.footer-content{
    display: flex;
    flex-direction: row;
    /* column-gap: 10px; */
}

.footer-menu-link {
    width: 33.3%;
    padding: 125px 0px 20px 150px;
    line-height: 45px;
}

#footer-first-para{
    font-weight: 900;
    font-size: 30px;
    color: #207388;
    text-transform: uppercase;
    padding: 125px 0px 20px 40px;
}

#footer-second-para {
    line-height: 35px;
    padding: 0px 0px 30px 40px;
}

.footer-menu {
    width: 33.3%;
}

.footer-menu-link ul {
    list-style-type: none;
}

.footer-menu-link li a {
    text-decoration: none;
    color: white;
}

.footer-menu-link li a:hover {
    color: #207388;
}

.footer-about-list-item {
    font-weight: 800;
}

.footer-about-list-item:hover {
    color: white;
}

.footer-contact{
    width: 33.3%;
    padding: 125px 10px 20px 50px;
    line-height: 45px;
}

.footer-contact ul {
    list-style-type: none;
}

.footer-contact li a {
    text-decoration: none;
    color: white;
}

.footer-contact .footer a:hover {
    color: #207388;
}

.social-media-handle {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    left: 0;
    font-size: 25px;
}

.social-media-handle a i{
    color: #207388;
    transition: all 0.3s ease, all 0.3s ease;
}

.social-media-handle a i:hover {
    color: rgb(146, 84, 14);
}

.footer-copyright {
    padding: 50px 0 0 40px;
    color: #207388;
}

#footer-copyright-para{
    font-size: 11px;
}



/* ======================= ABOUT PAGE STARTS HERE=========================== */
.about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 25px;
    padding-bottom: 80px;
    font-family: 'Montserrat', sans-serif;
}

.about-wallpaper {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(./images/pexels-mark-2724749.jpg);
    background-position: center;
    background-size: cover;
}

.about-wallpaper::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.word-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    line-height: 50px;
}

#about-west{
    font-size: 35px;
    font-weight: 100;
    font-family: sans-serif; 
}


/* ================ ABOUT STORY CONTENT=================== */

.story-container {
    height: 70vh;
    padding: 20px 170px 100px 170px;
    line-height: 50px;
    justify-content: center;
    
}

.story{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.story-content{
    font-family: 'Montserrat', sans-serif;
}

.about-overlay{
    color: white;
    padding-top: 70px;
}

.about-expertise-container{
    width: 100%;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/Smart-Home-Automation.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
}


/* ======================= CONTACT PAGE STYLING STARTS HERE ======================== */
/* Container for the form */
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    background-color: #011d24;

}

.contact-info{
    width: 50%;
    padding: 0px 150px 0 50px;
    line-height: 45px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.contact-us{
    font-size: 30px;
    text-transform: uppercase;
}

#contact-para{
    padding: 15px 0;
    font-size: larger;
}

.contact-detail{
    width: 30%;
    /* box-shadow: 0 0 10px rgba(240, 243, 33, 0.1); */
    border-radius: 5px;
    background-color: white;
}

  .contact-detail{
    padding: 65px;
  }

  .contact-form {
    flex: 2;
    display: grid;
    grid-gap:20px;
  }
  
  .form-group {
    display: grid;
  }
  
  label {
    font-family: 'Noto_Sans_Display', sans-serif;
    font-weight: 100;
    margin-bottom: 15px;
    color: rgb(99, 94, 94);
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(243, 228, 231);
    border-radius: 4px;
    background-color: transparent;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #207388;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
  }
  
  button[type="submit"]:hover {
    background-color: #11b3db;
  }
  
  /* Center the form  */
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Heading styles */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px; 
  } 


  /* ===================  PRODUCT PAGE STYLING ======================== */

  .product-container{
    margin: 150px 100px 100px 150px;
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  .product-inner-container{
    width: 320px;
    height: 435px;
    background-color: #f2f2f2;
    margin: 10px 40px 40px 0px;
  }

  .product-image{
    background-image: url(./images/Savant_CoreLightedMirror_SVTCM00030N03P00.jpg);
    background-position: center;
    background-size: cover;
    width: 170px;
    height: 180px;
    margin: 30px 73px 15px 73px;

  }

  .product-priceTag{
    width: 220px;
    height: 120px;
    margin: 50px 50px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
  }

  #product-name{
    color: black;
  }

  .product-payment{
    text-decoration: none;
    color: #011d24;
    font-family: 'montserrat', sans-serif;
    border: 1px solid #11b3db;
    padding: 7px 12px;
  }


  /* =================================== CASE STUDY PAGE STYLING  ================================= */
  .case-container{
    margin: 80px 20px 100px 20px;
  }

  .horizontal-line{
    color: #ddd;
    margin-top: 109px;
  }

  #case-heading{
    padding: 0 0 50px 0;
    font-family: 'Montserrat';
    font-weight: 200;
    text-align: center;
  }

  .inner-case-container{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 391px;
    height: 435px;
    background-color: #f2f2f2;
    margin: 10px 40px 40px 0px;
  }

  .case-image{
    background-position: center;
    background-size: cover;
  }